@media (prefers-color-scheme: light) {
    :root {
        --text-50: #f3f1f4;
        --text-100: #e7e2e9;
        --text-200: #cec6d2;
        --text-300: #b6a9bc;
        --text-400: #9d8da5;
        --text-500: #85708f;
        --text-600: #6a5a72;
        --text-700: #504356;
        --text-800: #352d39;
        --text-900: #1b161d;
        --text-950: #0d0b0e;

        --background-50: #f4eef6;
        --background-100: #e8deed;
        --background-200: #d1bddb;
        --background-300: #ba9cc9;
        --background-400: #a37ab8;
        --background-500: #8c59a6;
        --background-600: #704785;
        --background-700: #543663;
        --background-800: #382442;
        --background-900: #1c1221;
        --background-950: #0e0911;

        --primary-50: #f4ecf8;
        --primary-100: #e9daf1;
        --primary-200: #d2b5e3;
        --primary-300: #bc8fd6;
        --primary-400: #a66ac8;
        --primary-500: #8f45ba;
        --primary-600: #733795;
        --primary-700: #562970;
        --primary-800: #391c4a;
        --primary-900: #1d0e25;
        --primary-950: #0e0713;

        --secondary-50: #f4eafa;
        --secondary-100: #ead5f6;
        --secondary-200: #d5acec;
        --secondary-300: #bf82e3;
        --secondary-400: #aa59d9;
        --secondary-500: #952fd0;
        --secondary-600: #7726a6;
        --secondary-700: #591c7d;
        --secondary-800: #3c1353;
        --secondary-900: #1e092a;
        --secondary-950: #0f0515;

        --accent-50: #f5e8fc;
        --accent-100: #ebd1fa;
        --accent-200: #d7a4f4;
        --accent-300: #c376ef;
        --accent-400: #ae48ea;
        --accent-500: #9a1be4;
        --accent-600: #7b15b7;
        --accent-700: #5d1089;
        --accent-800: #3e0b5b;
        --accent-900: #1f052e;
        --accent-950: #0f0317;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-50: #0d0b0e;
        --text-100: #1a171c;
        --text-200: #352d39;
        --text-300: #4f4455;
        --text-400: #6a5b71;
        --text-500: #84718e;
        --text-600: #9d8ea4;
        --text-700: #b5aabb;
        --text-800: #cec6d2;
        --text-900: #e6e3e8;
        --text-950: #f3f1f4;

        --background-50: #0e0911;
        --background-100: #1c1221;
        --background-200: #382442;
        --background-300: #543663;
        --background-400: #704785;
        --background-500: #8c59a6;
        --background-600: #a37ab8;
        --background-700: #ba9cc9;
        --background-800: #d1bddb;
        --background-900: #e8deed;
        --background-950: #f4eef6;

        --primary-50: #0e0713;
        --primary-100: #1d0e25;
        --primary-200: #391c4a;
        --primary-300: #562970;
        --primary-400: #733795;
        --primary-500: #8f45ba;
        --primary-600: #a66ac8;
        --primary-700: #bc8fd6;
        --primary-800: #d2b5e3;
        --primary-900: #e9daf1;
        --primary-950: #f4ecf8;

        --secondary-50: #0f0515;
        --secondary-100: #1e092a;
        --secondary-200: #3c1353;
        --secondary-300: #591c7d;
        --secondary-400: #7726a6;
        --secondary-500: #952fd0;
        --secondary-600: #aa59d9;
        --secondary-700: #bf82e3;
        --secondary-800: #d5acec;
        --secondary-900: #ead5f6;
        --secondary-950: #f4eafa;

        --accent-50: #0f0317;
        --accent-100: #1f052e;
        --accent-200: #3e0b5b;
        --accent-300: #5d1089;
        --accent-400: #7b15b7;
        --accent-500: #9a1be4;
        --accent-600: #ae48ea;
        --accent-700: #c376ef;
        --accent-800: #d7a4f4;
        --accent-900: #ebd1fa;
        --accent-950: #f5e8fc;
    }
}

@keyframes titleAnimate {
    0% {
        transform-origin: center center;
        transform: scale(90%);
        text-shadow:
            5px 5px 10px var(--accent-500),
            5px -5px 10px var(--accent-500),
            -5px 5px 10px var(--accent-500),
            -5px -5px 10px var(--accent-500);
    }
    100% {
        transform-origin: center center;
        transform: scale(110%);
        text-shadow:
            5px 5px 5px var(--primary-700),
            5px -5px 5px var(--primary-700),
            -5px 5px 5px var(--primary-700),
            -5px -5px 5px var(--primary-700);
    }
}

@keyframes slotsTitleAnimate {
    0% {
        transform: translateY(-5%);
        text-shadow:
            5px 5px 10px var(--accent-500),
            5px -5px 10px var(--accent-500),
            -5px 5px 10px var(--accent-500),
            -5px -5px 10px var(--accent-500);
    }
    100% {
        transform: translateY(5%);
        text-shadow:
            5px 5px 10px #f0f,
            5px -5px 10px #f0f,
            -5px 5px 10px #f0f,
            -5px -5px 10px #f0f;
    }
}

@keyframes spinAnim {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    50% {
        transform: translateY(150%);
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    75% {
        transform: translateY(-150%);
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

* {
    color: var(--text-950);
    font-family: monospace;
}

body {
    background-color: var(--background-50);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.hidden {
    width: 0px;
    height: 0px;
    visibility: hidden;
    content-visibility: hidden;
    display: none;
    font-display: none;
}

.webTitle {
    animation: titleAnimate 1s infinite ease alternate;
    text-shadow:
        5px 5px 10px var(--accent-500),
        5px -5px 10px var(--accent-500),
        -5px 5px 10px var(--accent-500),
        -5px -5px 10px var(--accent-500);
    max-width: 35vw;
    margin: 10px;
    padding: 10px;
    font-size: 300%;
    text-align: center;
    left: auto;
}

.descript {
    text-align: center;
    margin: 20px;
    text-shadow:
        0px 0px 5px var(--text-950),
        0px 0px 5px var(--text-950);
    font-size: 80%;
}

.titleAnimToggleBtn {
    text-align: center;
    border-radius: 5px;
    background-color: var(--secondary-300);
    border: 2px solid #fff;
    color: var(--text);
    transition:
        box-shadow 300ms ease-in-out,
        transform 100ms ease;
    box-shadow:
        0px 0px 5px var(--primary-700),
        0px 0px 10px var(--primary-700),
        0px 0px 20px var(--primary-700);
    font-size: 150%;
    position: fixed;
    top: 20px;
    right: 20px;
}

.titleAnimToggleBtn:active {
    transform: translateY(3px);
}

.titleAnimToggleBtn:hover {
    box-shadow:
        0px 0px 5px var(--accent-500),
        0px 0px 10px var(--accent-500),
        0px 0px 20px var(--accent-500);
}

.videoSlotsContainer,
.skillCheckContainer {
    width: 50vw;
    height: auto;
    text-align: center;
    padding: 20px 10px;
    margin: 15px 0px;
    background-color: var(--background-200);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.videoSlotsTitle,
.skillCheckTitle {
    animation: slotsTitleAnimate 500ms infinite ease alternate;
    text-shadow:
        5px 5px 10px var(--accent-500),
        5px -5px 10px var(--accent-500),
        -5px 5px 10px var(--accent-500),
        -5px -5px 10px var(--accent-500);
    font-size: 230%;
    margin-bottom: 20px;
    top: 15px;
}

.videoSlotsBox {
    z-index: 2;
    overflow: hidden;
    width: 40%;
    height: 100px;
    border: 3px solid #fff;
    box-shadow:
        0px 0px 5px 3px var(--accent-500),
        0px 0px 10px 3px var(--accent-500),
        0px 0px 15px 3px var(--accent-500),
        0px 0px 20px 3px var(--accent-500);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.videoSlotsText,
.skillCheckText {
    font-size: 300%;
    z-index: 1;
    text-shadow:
        0px 0px 5px var(--accent-500),
        0px 0px 10px var(--accent-500),
        0px 0px 15px var(--accent-500),
        0px 0px 20px var(--accent-500);
    padding: 3%;
}

.videoSlotsBtn,
.skillCheckBtn {
    width: 20%;
    height: 45px;
    margin-top: 20px;
    font-size: 200%;
    border-radius: 5px;
    background-color: var(--secondary-300);
    border: 2px solid #fff;
    transition:
        box-shadow 250ms ease-in-out,
        text-shadow 1s ease-in,
        background-color 500ms ease-in-out;
    box-shadow:
        0px 0px 5px var(--primary-700),
        0px 0px 10px var(--primary-700),
        0px 0px 20px var(--primary-700);
}

.videoSlotsBtn:hover,
.skillCheckBtn:hover {
    box-shadow:
        0px 0px 5px #f00,
        0px 0px 10px #f00,
        0px 0px 20px #f00;
    text-shadow:
        0px 0px 5px #a00,
        0px 0px 10px #a00,
        0px 0px 20px #a00;
    background-color: #500;
}

.skillCheckBtn[green="true"] {
    box-shadow:
        0px 0px 5px #0f0,
        0px 0px 10px #0f0,
        0px 0px 20px #0f0 !important;
    text-shadow:
        0px 0px 5px #0a0,
        0px 0px 10px #0a0,
        0px 0px 20px #0a0 !important;
    background-color: #050 !important;
}

.skillCheckBtn:active {
    transform: translateY(3px);
}

@media (max-width: 768px) {
    .webTitle {
        max-width: 90vw;
        font-size: 200%;
        margin-top: 80px;
    }
    .videoSlotsContainer,
    .skillCheckContainer {
        width: 90vw;
    }
    .videoSlotsBox {
        width: 80%;
    }
    .videoSlotsText,
    .skillCheckText {
        font-size: 150%;
    }
    .videoSlotsBtn,
    .skillCheckBtn {
        width: 80%;
        height: 60px;
        font-size: 150%;
    }
    .titleAnimToggleBtn {
        font-size: 120%;
    }
}
